In [1]:
import os
import shutil

from pyspark.sql import SparkSession
from pyspark.sql import functions as F

from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import BinaryClassificationEvaluator, MulticlassClassificationEvaluator

In [2]:
spark = SparkSession.builder \
    .appName("AirlinesDelay-SQL-Notebook") \
    .getOrCreate()

sc = spark.sparkContext

25/12/28 02:00:39 WARN Utils: Your hostname, spark resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
25/12/28 02:00:39 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/12/28 02:00:40 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/12/28 02:00:41 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/12/28 02:00:41 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [3]:
INPUT_CSV = "data/airlines_delay.csv"

df_raw = (spark.read
          .option("header", True)
          .option("inferSchema", True)
          .csv(INPUT_CSV))

df_raw.printSchema()
df_raw.show(5, truncate=False)

root
 |-- Flight: double (nullable = true)
 |-- Time: double (nullable = true)
 |-- Length: double (nullable = true)
 |-- Airline: string (nullable = true)
 |-- AirportFrom: string (nullable = true)
 |-- AirportTo: string (nullable = true)
 |-- DayOfWeek: integer (nullable = true)
 |-- Class: integer (nullable = true)

+------+------+------+-------+-----------+---------+---------+-----+
|Flight|Time  |Length|Airline|AirportFrom|AirportTo|DayOfWeek|Class|
+------+------+------+-------+-----------+---------+---------+-----+
|2313.0|1296.0|141.0 |DL     |ATL        |HOU      |1        |0    |
|6948.0|360.0 |146.0 |OO     |COS        |ORD      |4        |0    |
|1247.0|1170.0|143.0 |B6     |BOS        |CLT      |3        |0    |
|31.0  |1410.0|344.0 |US     |OGG        |PHX      |6        |0    |
|563.0 |692.0 |98.0  |FL     |BMI        |ATL      |4        |0    |
+------+------+------+-------+-----------+---------+---------+-----+
only showing top 5 rows

In [4]:
df = df_raw

df = (df
      .withColumn("Time", F.col("Time").cast("int"))
      .withColumn("Length", F.col("Length").cast("int"))
      .withColumn("DayOfWeek", F.col("DayOfWeek").cast("int"))
      .withColumn("Class", F.col("Class").cast("int"))
      .withColumn("Airline", F.trim(F.col("Airline")))
      .withColumn("AirportFrom", F.trim(F.col("AirportFrom")))
      .withColumn("AirportTo", F.trim(F.col("AirportTo")))
)

df = df.dropna(subset=["Time","Length","DayOfWeek","Airline","AirportFrom","AirportTo","Class"]).cache()

print("Rows:", df.count())
df.groupBy("Class").count().orderBy("Class").show()

Rows: 539382
+-----+------+
|Class| count|
+-----+------+
|    0|299118|
|    1|240264|
+-----+------+

In [5]:
train_df, test_df = df.randomSplit([0.8, 0.2], seed=42)
print("train:", train_df.count())
print("test :", test_df.count())

train_df.createOrReplaceTempView("train_flights")
test_df.createOrReplaceTempView("test_flights")
df.createOrReplaceTempView("flights")

train: 431452

test : 107930

### Advanced SQL Query 1 (Window): Airline × Hour + Moving Average

In [6]:
sql_airline_hour_ma = spark.sql("""
WITH hourly AS (
  SELECT
    Airline,
    CAST(FLOOR(Time/60) AS INT) AS hour,
    COUNT(*) AS flight_cnt,
    AVG(CAST(Class AS DOUBLE)) AS delay_rate
  FROM flights
  GROUP BY Airline, CAST(FLOOR(Time/60) AS INT)
),
with_ma AS (
  SELECT
    Airline,
    hour,
    flight_cnt,
    delay_rate,
    AVG(delay_rate) OVER (
      PARTITION BY Airline
      ORDER BY hour
      ROWS BETWEEN 1 PRECEDING AND 1 FOLLOWING
    ) AS delay_rate_ma_3h
  FROM hourly
)
SELECT *
FROM with_ma
WHERE flight_cnt >= 30
ORDER BY Airline, hour
""")

sql_airline_hour_ma.show(50, truncate=False)

+-------+----+----------+-------------------+-------------------+
|Airline|hour|flight_cnt|delay_rate         |delay_rate_ma_3h   |
+-------+----+----------+-------------------+-------------------+
|9E     |5   |534       |0.25280898876404495|0.2588013861931402 |
|9E     |6   |1673      |0.2647937836222355 |0.29374637867421466|
|9E     |7   |1111      |0.36363636363636365|0.3150211379305551 |
|9E     |8   |998       |0.3166332665330661 |0.34814957821568054|
|9E     |9   |1340      |0.3641791044776119 |0.3576392113895242 |
|9E     |10  |1520      |0.39210526315789473|0.3784869156039619 |
|9E     |11  |1287      |0.3791763791763792 |0.4098543623056961 |
|9E     |12  |1606      |0.45828144458281445|0.4295062469797358 |
|9E     |13  |1461      |0.4510609171800137 |0.4361307476659942 |
|9E     |14  |1263      |0.3990498812351544 |0.44700662977475303|
|9E     |15  |1485      |0.4909090909090909 |0.4397412939972265 |
|9E     |16  |1442      |0.4292649098474341 |0.46427675025217496|
|9E     |17  |1536      |0.47265625         |0.43248118263571184|
|9E     |18  |536       |0.39552238805970147|0.41899106837417327|
|9E     |19  |1767      |0.38879456706281834|0.41229716028925906|
|9E     |20  |369       |0.45257452574525747|0.4222129128055682 |
|9E     |21  |649       |0.4252696456086287 |0.41799698678157066|
|9E     |22  |109       |0.3761467889908257 |0.40070821729972717|
|AA     |0   |150       |0.41333333333333333|0.41196467991169977|
|AA     |5   |151       |0.4105960264900662 |0.3464796965700421 |
|AA     |6   |3443      |0.2155097298867267 |0.2907277927256527 |
|AA     |7   |3633      |0.24607762180016515|0.23822727140920283|
|AA     |8   |3070      |0.2530944625407166 |0.2713737620275121 |
|AA     |9   |2756      |0.3149492017416546 |0.32409215617172515|
|AA     |10  |2835      |0.4042328042328042 |0.3643233855941194 |
|AA     |11  |2785      |0.37378815080789946|0.39775839744294644|
|AA     |12  |3186      |0.4152542372881356 |0.40868055325463853|
|AA     |13  |2746      |0.43699927166788055|0.4315915789705336 |
|AA     |14  |3062      |0.4425212279555846 |0.4439935353354813 |
|AA     |15  |3008      |0.45246010638297873|0.45604954801815084|
|AA     |16  |2851      |0.47316730971588916|0.4517375909471634 |
|AA     |17  |2677      |0.4295853567426223 |0.4586348962579046 |
|AA     |18  |2868      |0.47315202231520226|0.46414200544682577|
|AA     |19  |2473      |0.48968863728265266|0.4875256024517036 |
|AA     |20  |1895      |0.49973614775725594|0.48183932500135546|
|AA     |21  |1116      |0.4560931899641577 |0.4433893206866793 |
|AA     |22  |756       |0.37433862433862436|0.44604137399836324|
|AA     |23  |195       |0.5076923076923077 |0.44101546601546604|
|AS     |0   |64        |0.328125           |0.42212701612903225|
|AS     |1   |62        |0.5161290322580645 |0.37819220430107525|
|AS     |2   |31        |0.2903225806451613 |0.3371610198147021 |
|AS     |6   |795       |0.2050314465408805 |0.24576317035233652|
|AS     |7   |992       |0.24193548387096775|0.23899295928105016|
|AS     |8   |837       |0.27001194743130225|0.2764626109359721 |
|AS     |9   |797       |0.3174404015056462 |0.3035615573897572 |
|AS     |10  |792       |0.32323232323232326|0.3273608054559751 |
|AS     |11  |454       |0.34140969162995594|0.33058989147891576|
|AS     |12  |752       |0.3271276595744681 |0.3644274163878693 |
|AS     |13  |784       |0.4247448979591837 |0.3763609245478905 |
|AS     |14  |509       |0.37721021611001965|0.4031904917137119 |
+-------+----+----------+-------------------+-------------------+
only showing top 50 rows

### Advanced SQL Query 2 (CTE + Rank + Percentile): Origin bazında top rotalar

In [7]:
sql_top_routes_by_origin = spark.sql("""
WITH route_stats AS (
  SELECT
    AirportFrom,
    AirportTo,
    COUNT(*) AS flight_cnt,
    AVG(CAST(Class AS DOUBLE)) AS delay_rate,
    AVG(Length) AS avg_length,
    AVG(Time) AS avg_time
  FROM flights
  GROUP BY AirportFrom, AirportTo
),
ranked AS (
  SELECT
    *,
    DENSE_RANK() OVER (
      PARTITION BY AirportFrom
      ORDER BY delay_rate DESC
    ) AS rnk,
    percentile_approx(delay_rate, 0.90) OVER (PARTITION BY AirportFrom) AS p90_delay_rate_origin
  FROM route_stats
)
SELECT
  AirportFrom, AirportTo, flight_cnt, delay_rate, avg_length, avg_time, p90_delay_rate_origin
FROM ranked
WHERE flight_cnt >= 50 AND rnk <= 3
ORDER BY AirportFrom, delay_rate DESC
""")

sql_top_routes_by_origin.show(80, truncate=False)

+-----------+---------+----------+-------------------+------------------+-----------------+---------------------+
|AirportFrom|AirportTo|flight_cnt|delay_rate         |avg_length        |avg_time         |p90_delay_rate_origin|
+-----------+---------+----------+-------------------+------------------+-----------------+---------------------+
|ABE        |DTW      |85        |0.47058823529411764|112.58823529411765|687.435294117647 |0.47058823529411764  |
|ABE        |ORD      |147       |0.32653061224489793|140.06802721088437|635.2312925170068|0.47058823529411764  |
|ABI        |DFW      |211       |0.15165876777251186|50.639810426540286|623.6729857819905|0.15165876777251186  |
|ABQ        |SAN      |59        |0.8305084745762712 |117.37288135593221|827.0338983050848|0.78125              |
|ABY        |ATL      |87        |0.25287356321839083|56.632183908045974|665.9425287356322|0.25287356321839083  |
|ACT        |DFW      |60        |0.2833333333333333 |45.0              |641.5            |0.2833333333333333   |
|ACV        |SFO      |213       |0.596244131455399  |78.44131455399061 |791.2769953051643|0.596244131455399    |
|ACV        |SMF      |55        |0.32727272727272727|61.07272727272727 |731.3818181818182|0.596244131455399    |
|ACY        |ATL      |62        |0.25806451612903225|124.19354838709677|723.3548387096774|0.25806451612903225  |
|ADQ        |ANC      |56        |0.32142857142857145|52.464285714285715|749.4642857142857|0.32142857142857145  |
|AEX        |ATL      |133       |0.2857142857142857 |106.45112781954887|682.0977443609023|0.2857142857142857   |
|AEX        |IAH      |61        |0.2786885245901639 |61.24590163934426 |691.5081967213115|0.2857142857142857   |
|AEX        |DFW      |92        |0.22826086956521738|76.68478260869566 |706.6847826086956|0.2857142857142857   |
|AGS        |ATL      |261       |0.367816091954023  |67.99616858237547 |721.1417624521073|0.367816091954023    |
|AGS        |DFW      |61        |0.32786885245901637|175.0             |676.0655737704918|0.367816091954023    |
|ALB        |BWI      |146       |0.5753424657534246 |78.63013698630137 |768.8356164383562|0.5753424657534246   |
|ALB        |MDW      |62        |0.5                |145.32258064516128|696.1290322580645|0.5753424657534246   |
|AMA        |DEN      |56        |0.75               |79.375            |797.8571428571429|0.8709677419354839   |
|AMA        |DAL      |156       |0.5576923076923077 |65.0              |814.7115384615385|0.8709677419354839   |
|ANC        |OTZ      |60        |0.4666666666666667 |95.83333333333333 |702.5            |0.6666666666666666   |
|ASE        |ORD      |63        |0.5396825396825397 |170.03174603174602|723.063492063492 |0.75                 |
|ATW        |ORD      |151       |0.2847682119205298 |57.81456953642384 |735.205298013245 |0.5161290322580645   |
|AUS        |BWI      |70        |0.8142857142857143 |181.5             |713.2857142857143|0.6964285714285714   |
|AVL        |ATL      |260       |0.4115384615384615 |68.70384615384616 |739.2346153846154|0.5517241379310345   |
|AVP        |DTW      |85        |0.4588235294117647 |102.97647058823529|687.1764705882352|1.0                  |
|AVP        |ORD      |113       |0.40707964601769914|139.06194690265488|697.5398230088496|1.0                  |
|AZO        |DTW      |121       |0.2892561983471074 |62.66115702479339 |593.5537190082645|0.2892561983471074   |
|AZO        |ORD      |91        |0.24175824175824176|58.2967032967033  |678.021978021978 |0.2892561983471074   |
|BDL        |MDW      |95        |0.631578947368421  |158.6315789473684 |744.8421052631579|0.631578947368421    |
|BET        |ANC      |84        |0.5476190476190477 |68.26190476190476 |890.6904761904761|0.5476190476190477   |
|BFL        |SFO      |91        |0.5384615384615384 |75.7032967032967  |713.4835164835165|1.0                  |
|BFL        |LAX      |58        |0.4482758620689655 |51.08620689655172 |865.551724137931 |1.0                  |
|BGM        |DTW      |74        |0.44594594594594594|100.5945945945946 |633.4459459459459|0.44594594594594594  |
|BHM        |MSY      |56        |0.7857142857142857 |70.71428571428571 |869.2857142857143|0.8205128205128205   |
|BIL        |DEN      |132       |0.2878787878787879 |91.62121212121212 |747.4924242424242|0.5                  |
|BIL        |SLC      |146       |0.19863013698630136|82.63013698630137 |660.0890410958904|0.5                  |
|BIS        |MSP      |143       |0.5034965034965035 |85.64335664335664 |664.2447552447552|0.5034965034965035   |
|BIS        |DEN      |119       |0.4369747899159664 |103.3109243697479 |843.6050420168067|0.5034965034965035   |
|BKG        |ATL      |54        |0.24074074074074073|94.0              |820.0            |0.24074074074074073  |
|BMI        |ATL      |233       |0.48497854077253216|105.12446351931331|728.7167381974249|0.48497854077253216  |
|BNA        |BHM      |60        |0.8833333333333333 |50.0              |885.9166666666666|0.8035714285714286   |
|BOI        |LAS      |62        |0.7903225806451613 |100.0             |836.6935483870968|0.7857142857142857   |
|BOI        |PDX      |56        |0.7857142857142857 |75.0              |867.7678571428571|0.7857142857142857   |
|BOI        |SEA      |58        |0.6724137931034483 |86.20689655172414 |882.4137931034483|0.7857142857142857   |
|BOS        |IAH      |156       |0.6538461538461539 |265.61538461538464|740.5192307692307|0.6058823529411764   |
|BOS        |STL      |62        |0.6451612903225806 |196.1290322580645 |721.2096774193549|0.6058823529411764   |
|BQK        |ATL      |87        |0.25287356321839083|78.50574712643679 |732.2413793103449|0.25287356321839083  |
|BQN        |JFK      |78        |0.41025641025641024|231.02564102564102|617.8205128205128|0.4642857142857143   |
|BRO        |DFW      |62        |0.3064516129032258 |95.0              |861.2096774193549|0.3064516129032258   |
|BRO        |IAH      |145       |0.20689655172413793|73.9448275862069  |667.2896551724137|0.3064516129032258   |
|BTM        |SLC      |60        |0.35               |77.06666666666666 |579.3333333333334|0.35                 |
|BTR        |MEM      |57        |0.3684210526315789 |75.7719298245614  |680.0350877192982|0.3684210526315789   |
|BTR        |ATL      |223       |0.35874439461883406|94.42600896860986 |685.5022421524664|0.3684210526315789   |
|BTR        |DFW      |244       |0.2540983606557377 |89.69262295081967 |779.7131147540983|0.3684210526315789   |
|BTV        |DTW      |73        |0.5753424657534246 |129.24657534246575|741.1506849315068|0.6363636363636364   |
|BTV        |ORD      |74        |0.4189189189189189 |156.63513513513513|617.972972972973 |0.6363636363636364   |
|BUF        |TPA      |62        |0.8225806451612904 |175.80645161290323|672.9032258064516|0.8225806451612904   |
|BUF        |MDW      |118       |0.8135593220338984 |110.46610169491525|742.5            |0.8225806451612904   |
|BUR        |LAS      |358       |0.6871508379888268 |61.54189944134078 |811.2374301675977|0.6233183856502242   |
|BUR        |SMF      |223       |0.6233183856502242 |77.46636771300449 |866.7488789237668|0.6233183856502242   |
|BUR        |SJC      |227       |0.6167400881057269 |65.0              |825.7268722466961|0.6233183856502242   |
|BWI        |PIT      |84        |0.8333333333333334 |60.0              |897.3809523809524|0.8068181818181818   |
|BWI        |AUS      |70        |0.8285714285714286 |235.0             |783.2857142857143|0.8068181818181818   |
|CAE        |ORD      |77        |0.4155844155844156 |128.0             |632.2077922077922|0.5806451612903226   |
|CAE        |ATL      |297       |0.3569023569023569 |75.36026936026936 |696.2693602693603|0.5806451612903226   |
|CAK        |MKE      |54        |0.46296296296296297|84.0              |871.1111111111111|0.5161290322580645   |
|CDC        |SLC      |55        |0.4909090909090909 |70.14545454545454 |829.5454545454545|0.4909090909090909   |
|CEC        |SFO      |61        |0.5409836065573771 |91.60655737704919 |704.4754098360655|0.5409836065573771   |
|CHA        |ORD      |58        |0.3620689655172414 |107.84482758620689|860.6034482758621|0.45161290322580644  |
|CHA        |ATL      |243       |0.2757201646090535 |55.325102880658434|644.7860082304527|0.45161290322580644  |
|CHO        |ATL      |87        |0.2413793103448276 |103.67816091954023|689.7816091954023|0.2413793103448276   |
|CHS        |IAH      |74        |0.4864864864864865 |171.27027027027026|726.3513513513514|0.4777777777777778   |
|CHS        |EWR      |90        |0.4777777777777778 |118.21111111111111|857.2888888888889|0.4777777777777778   |
|CHS        |DTW      |53        |0.33962264150943394|137.62264150943398|793.5849056603773|0.4777777777777778   |
|CIC        |SFO      |120       |0.4083333333333333 |62.1              |718.35           |0.4083333333333333   |
|CID        |MSP      |89        |0.449438202247191  |67.79775280898876 |718.3258426966293|0.449438202247191    |
|CID        |DFW      |144       |0.3958333333333333 |132.1875          |757.0833333333334|0.449438202247191    |
|CLD        |LAX      |163       |0.4049079754601227 |39.938650306748464|776.9018404907976|0.4049079754601227   |
|CLE        |BWI      |132       |0.6666666666666666 |74.83333333333333 |764.469696969697 |0.6477272727272727   |
|CLT        |PHX      |253       |0.6363636363636364 |278.8695652173913 |844.8260869565217|0.5234899328859061   |
+-----------+---------+----------+-------------------+------------------+-----------------+---------------------+
only showing top 80 rows

### “SQL used in application”: Train’den feature üret → Train/Test’e join

In [8]:
airline_feats = spark.sql("""
SELECT
  Airline,
  COUNT(*) AS airline_flight_cnt_train,
  AVG(CAST(Class AS DOUBLE)) AS airline_delay_rate_train
FROM train_flights
GROUP BY Airline
""")

route_feats = spark.sql("""
SELECT
  AirportFrom,
  AirportTo,
  COUNT(*) AS route_flight_cnt_train,
  AVG(CAST(Class AS DOUBLE)) AS route_delay_rate_train
FROM train_flights
GROUP BY AirportFrom, AirportTo
""")

airline_feats.show(5, truncate=False)
route_feats.show(5, truncate=False)

+-------+------------------------+------------------------+
|Airline|airline_flight_cnt_train|airline_delay_rate_train|
+-------+------------------------+------------------------+
|UA     |22022                   |0.323540096267369       |
|AA     |36509                   |0.39023254539976443     |
|EV     |22357                   |0.4018875519971374      |
|B6     |14524                   |0.4666069953180942      |
|DL     |48618                   |0.45069727261508086     |
+-------+------------------------+------------------------+
only showing top 5 rows

+-----------+---------+----------------------+----------------------+
|AirportFrom|AirportTo|route_flight_cnt_train|route_delay_rate_train|
+-----------+---------+----------------------+----------------------+
|SNA        |PHX      |350                   |0.5142857142857142    |
|ORD        |PDX      |127                   |0.4251968503937008    |
|MCI        |MKE      |73                    |0.6164383561643836    |
|SMF        |BUR      |175                   |0.6                   |
|PHL        |MCO      |375                   |0.448                 |
+-----------+---------+----------------------+----------------------+
only showing top 5 rows

In [9]:
global_delay = train_df.select(F.avg(F.col("Class").cast("double")).alias("g")).collect()[0]["g"]
print("Global train delay rate:", global_delay)

train_fe = (train_df
    .join(airline_feats, on="Airline", how="left")
    .join(route_feats, on=["AirportFrom","AirportTo"], how="left")
    .fillna({
        "airline_flight_cnt_train": 0,
        "airline_delay_rate_train": global_delay,
        "route_flight_cnt_train": 0,
        "route_delay_rate_train": global_delay
    })
).cache()

test_fe = (test_df
    .join(airline_feats, on="Airline", how="left")
    .join(route_feats, on=["AirportFrom","AirportTo"], how="left")
    .fillna({
        "airline_flight_cnt_train": 0,
        "airline_delay_rate_train": global_delay,
        "route_flight_cnt_train": 0,
        "route_delay_rate_train": global_delay
    })
).cache()

train_fe.select("Airline","airline_delay_rate_train","route_delay_rate_train","Class").show(5, truncate=False)

Global train delay rate: 0.4456393758749525

+-------+------------------------+----------------------+-----+
|Airline|airline_delay_rate_train|route_delay_rate_train|Class|
+-------+------------------------+----------------------+-----+
|US     |0.334917548786635       |0.5142857142857142    |0    |
|US     |0.334917548786635       |0.5142857142857142    |0    |
|US     |0.334917548786635       |0.5142857142857142    |0    |
|US     |0.334917548786635       |0.5142857142857142    |0    |
|US     |0.334917548786635       |0.5142857142857142    |0    |
+-------+------------------------+----------------------+-----+
only showing top 5 rows

### Mini “Application”: Bu SQL feature’larla model eğitip metrik bas (raporda çok iyi durur)

In [10]:
label_col = "Class"
cat_cols = ["Airline", "AirportFrom", "AirportTo"]
num_cols = [
    "Time", "Length", "DayOfWeek",
    "airline_flight_cnt_train", "airline_delay_rate_train",
    "route_flight_cnt_train", "route_delay_rate_train"
]

indexers = [StringIndexer(inputCol=c, outputCol=f"{c}_idx", handleInvalid="keep") for c in cat_cols]
encoder = OneHotEncoder(
    inputCols=[f"{c}_idx" for c in cat_cols],
    outputCols=[f"{c}_ohe" for c in cat_cols],
    handleInvalid="keep"
)
assembler = VectorAssembler(inputCols=num_cols + [f"{c}_ohe" for c in cat_cols], outputCol="features")

lr = LogisticRegression(featuresCol="features", labelCol=label_col, maxIter=50)

pipe = Pipeline(stages=indexers + [encoder, assembler, lr])
m = pipe.fit(train_fe)
pred = m.transform(test_fe)

acc_eval = MulticlassClassificationEvaluator(labelCol=label_col, predictionCol="prediction", metricName="accuracy")
f1_eval  = MulticlassClassificationEvaluator(labelCol=label_col, predictionCol="prediction", metricName="f1")
auc_eval = BinaryClassificationEvaluator(labelCol=label_col, rawPredictionCol="rawPrediction", metricName="areaUnderROC")

print("SQL-feature LR -> Accuracy:", acc_eval.evaluate(pred))
print("SQL-feature LR -> F1      :", f1_eval.evaluate(pred))
print("SQL-feature LR -> AUC     :", auc_eval.evaluate(pred))

pred.groupBy("Class").pivot("prediction", [0.0, 1.0]).count().na.fill(0).show()

SQL-feature LR -> Accuracy: 0.6517650328916891

SQL-feature LR -> F1      : 0.6450325780756409

SQL-feature LR -> AUC     : 0.6962157855666282

+-----+-----+-----+
|Class|  0.0|  1.0|
+-----+-----+-----+
|    1|23738|24254|
|    0|46091|13847|
+-----+-----+-----+

In [11]:
OUT_SQL1 = "outputs/sql/airline_hour_ma"
OUT_SQL2 = "outputs/sql/top_routes_by_origin"
OUT_FEATS_AIRLINE = "outputs/sql_features/airline_feats"
OUT_FEATS_ROUTE   = "outputs/sql_features/route_feats"

for p in [OUT_SQL1, OUT_SQL2, OUT_FEATS_AIRLINE, OUT_FEATS_ROUTE]:
    if os.path.exists(p):
        shutil.rmtree(p)

In [12]:
sql_airline_hour_ma.coalesce(1).write.mode("overwrite").option("header", True).csv(OUT_SQL1)
sql_top_routes_by_origin.coalesce(1).write.mode("overwrite").option("header", True).csv(OUT_SQL2)

airline_feats.coalesce(1).write.mode("overwrite").option("header", True).csv(OUT_FEATS_AIRLINE)
route_feats.coalesce(1).write.mode("overwrite").option("header", True).csv(OUT_FEATS_ROUTE)

print("Saved:")
print(" -", OUT_SQL1)
print(" -", OUT_SQL2)
print(" -", OUT_FEATS_AIRLINE)
print(" -", OUT_FEATS_ROUTE)

Saved:
 - outputs/sql/airline_hour_ma
 - outputs/sql/top_routes_by_origin
 - outputs/sql_features/airline_feats
 - outputs/sql_features/route_feats